<%-  include('header') -%>

<h2>About</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, quis voluptas impedit accusamus soluta quo ipsum aut
    modi odio libero assumenda pariatur distinctio, deserunt, recusandae voluptates cupiditate beatae deleniti velit!
</p>

<%-  include('footer') -%>